networks:
  nextcloud:
    driver: bridge
    name: nextcloud
services:
  nextcloud:
    container_name: nextcloud
    depends_on:
      - mariadb
      - redis
    environment:
      - MYSQL_DATABASE=nextcloud
      - MYSQL_HOST=nextcloud-mariadb
      - MYSQL_PASSWORD=nextcloud
      - MYSQL_USER=nextcloud
      - NEXTCLOUD_TRUSTED_DOMAINS=prodesk0
      - PHP_MEMORY_LIMIT=1024M
      - REDIS_HOST=nextcloud-redis
    image: nextcloud
    networks:
      - nextcloud
    ports:
      - 8080:80
    restart: unless-stopped
    volumes:
      - .nextcloud/config:/var/www/html/config
      - /media/hdd0/Nextcloud/data:/var/www/html/data
  mariadb:
    command: --transaction-isolation=READ-COMMITTED
    container_name: nextcloud-mariadb
    environment:
      - MYSQL_DATABASE=nextcloud
      - MYSQL_PASSWORD=nextcloud
      - MYSQL_ROOT_PASSWORD=nextcloud
      - MYSQL_USER=nextcloud
    image: mariadb:lts
    networks:
      - nextcloud
    restart: unless-stopped
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
  redis:
    container_name: nextcloud-redis
    image: redis:alpine
    networks:
      - nextcloud
    restart: unless-stopped
    volumes:
      - ./redis/data:/data
